<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @certificate_type.name %>
</p>

<%= link_to 'Edit', edit_certificate_type_path(@certificate_type) %> |
<%= link_to 'Back', certificate_types_path %>
