<h1>Artists#index</h1>

<% if @artists.empty? %>
  <p><strong>No Items</strong></p>
<% end %>

<table class="table">
  <thead>
    <th>Artist's Name</th>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
    <tr>
        <td><%= link_to artist.last_name_first, artist_path(artist) %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
