<h1>Invoice#index</h1>

<% if @invoices.empty? %>
  <p><strong>No invoice</strong></p>
<% end %>

<table class="table">
  <thead>
    <th>Invoice Number</th>
    <th>Invoice Name</th>
  </thead>
  <tbody>
    <% @invoices.order(:invoice).each do |invoice| %>
    <tr>
        <td><%= link_to invoice.invoice, invoice_path(invoice) %></td>
        <td><%= invoice.name %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
