<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @leafing_type.name %>
</p>

<%= link_to 'Edit', edit_leafing_type_path(@leafing_type) %> |
<%= link_to 'Back', leafing_types_path %>
