<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @disclaimer_type.name %>
</p>

<%= link_to 'Edit', edit_disclaimer_type_path(@disclaimer_type) %> |
<%= link_to 'Back', disclaimer_types_path %>
