<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mounting_type.name %>
</p>

<%= link_to 'Edit', edit_mounting_type_path(@mounting_type) %> |
<%= link_to 'Back', mounting_types_path %>
