<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @edition_type.name %>
</p>

<%= link_to 'Edit', edit_edition_type_path(@edition_type) %> |
<%= link_to 'Back', edition_types_path %>
