<%= f.fields_for :properties, OpenStruct.new(parent.properties) do |builder| %>
<% obj_type_list.each do |type| %>
  <div class="row">
    <div class="col-xs-3">
      <div class="field">
        <%= f.label obj_to_s(type) %><br>
        <%= f.collection_select obj_to_fk(type), type.all, :id, :name, {:include_blank => true}, onchange: 'submitform()' %><br>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="field">
        <%# unless parent.item_type_id == nil %>
        <% unless obj_to_type(parent, type) == nil %>
          <% obj_to_type(parent, type).fields.each do |field| %>
            <%= render "items/fields/#{field.field_type}", parent: parent, field: field, f: builder %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
