<%= form_for [@item.invoice, @item], action: "create_skus" do |f| %>
  <div class="field">
    <%= f.label :sku_range %><br>
    <%= f.text_field :sku_range %>
  </div>
  <%= f.submit "Save" %>
<% end %>
