<%#= form_tag (controller: "skus", action: "create") %>
<%#= form_tag(controller: "skus", action: "create", method: "post") %>
<%#= form_tag("/skus", method: "post") %>
<%= form_tag(invoice_skus_path(@invoice), method: "post") %>
  <div class="field">
    <%= label_tag :sku_range %><br>
    <%= text_field_tag :sku_range %>
  </div>
  <%= submit_tag "Save" %>
<% end %>
