<%#= form_tag controller: "item", action: "batch_create" do |f|%>
  <div class="field">
    <%#= label_tag (:sku_range) %><br>
    <%#= text_field_tag (:sku_range) %>
  </div>
  <%#= submit_tag "Save" %>
<%# end %>

<!-- , url: {action: "create_batch"} -->
