<%= form_tag(create_skus_invoice_item_path(item.invoice, item), method: "get") do |f| %>
  <div class="field">
    <%#= hidden_field_tag :invoice_id, invoice.id  %>
    <%= label_tag :sku_range %><br>
    <%= text_field_tag :sku_range, nil, maxlength: 13 %>
  </div>
  <%= submit_tag "Save" %>
<% end %>
