<br>
<%= render 'items/buttons', item: item %>
<div class="row">
  <div class="col-xs-12">
    <p><%= tagline(item) %></p>
    <p><%= prop_room(item) %></p>
    <p><%= build_description(item) %></p>
  </div>
</div>
