<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <div>
    <p><%= build_tagline(item) %></p>
    <p><%= build_description(item) %></p>
    <p><%= descripton_pr(item) %></p>
   </div>
<% end %>
