<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @remarque_type.name %>
</p>

<%= link_to 'Edit', edit_remarque_type_path(@remarque_type) %> |
<%= link_to 'Back', remarque_types_path %>
