<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dimension_type.name %>
</p>

<%= link_to 'Edit', edit_dimension_type_path(@dimension_type) %> |
<%= link_to 'Back', dimension_types_path %>
