<% if parent.properties.present? %>
  <div class="field">
    <%= f.label field.name %><br>
    <% if parent.properties[field.name].present? %>
      <%= f.select field.name, options_for_select(value_list(parent, field.name), parent.properties[field.name] ), {:include_blank => true}  %>
    <% else %>
      <%= f.select field.name, options_for_select(value_list(parent, field.name)), {:include_blank => true}  %>
    <% end %>
  </div>
<% end %>
