<div class="field">
  <%= f.label field.name %><br>
  <%= f.select field.name, options_for_select(ValueItem.where(kind: field.name).pluck(:name), parent.properties[field.name]), {:include_blank => true}  %>
</div>
