<div class="field">
  <% if field.mounting_type_id? || field.signature_type_id? || field.name == "issuer" || field.name == "number" || field.name == "edition_size" %>
    <%= f.label field.name %><br/>
    <%= f.text_field field.name %>
  <% else %>
    <%= f.label field.name %><br/>
    <%= f.select field.name, options_for_select(value_list(field.name)) %>
    <%#= f.select field.name, options_for_select(property_list(field.name)) %>
  <% end %>
</div>
